<div class="nexmoe-post">
	<article>
		<% if (page.cover){ %>
		<div class="nexmoe-post-cover">
			<img
				data-src="<%- page.cover %>"
				data-sizes="auto"
				alt="<%= page.title %>"
				class="lazyload"
			/>
			<h1><%= page.title %></h1>
		</div>
		<%} else{ %>
		<div
			class="nexmoe-post-cover"
			style="padding-bottom: <%- theme.background.height/theme.background.width * 100 %> %"
		>
			<img
				data-src="<%- theme.background.path %>"
				data-sizes="auto"
				alt="<%= page.title %>"
				class="lazyload"
			/>
			<h1><%= page.title %></h1>
		</div>
		<% } %> <%- partial('_partial/_post/meta') %> <%- image_auto_lazyload(page.content) %>
	</article>

	<% if (!page.reprint){ %> <%- partial('_partial/copyright') %> <% } %> <% if (page.title !=
	'关于本人') { %>
	<div class="nexmoe-post-nav">
		<nav class="post-nav">
			<% site.categories.map(function(category){ %> <%
			page.categories.map(function(page_category){ %> <% if(page_category.name ==
			category.name){ %>
			<!-- 先找到与当前文字相同的目录 -->
			<% let i = 0;%> <% category.posts.sort('date').map(function(post){ %> <% i++; %> <%
			if(post.title == page.title){ %>
			<!-- 在找到当前文章所在的 index -->
			<% let ix = 0;%> <% category.posts.sort('date').map(function(post){ %> <% ix++; %> <%
			if(ix == i + 1 && post.title){ %>
			<!-- 下一篇文章 -->
			<div class="new">
				<span>下一章</span>
				<a href="<%- url_for(post.path) %>"> <%= post.title %></a>
			</div>
			<% } %> <% if(ix == i - 1 && post.title){ %>
			<!-- 上一篇文章 -->
			<div class="old">
				<span>上一章</span>
				<a href="<%- url_for(post.path) %>"> <%= post.title %></a>
			</div>
			<% } %> <% }) %> <% } %> <% }) %> <% } %> <% })%> <% }) %>
		</nav>
	</div>
	<% } %> <%- partial('_partial/_post/tag') %> <% if (page.comments){ %>
	<div class="nexmoe-post-footer"><%- theme.comment ? partial('_partial/comment') : '' %></div>
	<% } %>
</div>
